h1{
             
                color:brown;
            }
            h2{
                color:chocolate;
                
            }
            body{
                color:darkslateblue;
                background:<img src="pic.jpg" width="100">;
            }
            #hobby{
                color:darkmagenta;
            }
#skill{
    color:dimgray;
}
#edu{
    color:aqua;
}